.menu {
  background-color: #419bf9;
  width: 41px;
  height: 44px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
