.articles {
  background-color: rgba(20, 230, 241, 0.15);
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;

  &_post {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
