.article {
  &_insomnia {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    &-title {
      padding-bottom: 10px;
    }
    &-titlelooking {
      padding-bottom: 10px;
    }
  }
}
