<footer class="footer">
  <div class="footer_image">
    <img src="./images/ico-arrow.svg" alt="" />
  </div>
  <section class="footer_menu">
    <nav class="footer_menu-listas">
      <ul>
        <li>articles</li>
        <li>books</li>
        <li>events</li>
        <li>reasons</li>
        <li>tips</li>
      </ul>

      <ul>
        <li>TWITER</li>
        <li>INSTAGRAM</li>
        <li>MASTODON.SOCIAL</li>
      </ul>
    </nav>
    <p>&#169;2024</p>
    <p>WE CORAZON COMPONENTS</p>
  </section>
</footer>
