<section class="articles">
  <article class="articles_post-title">
    <h2>3 Reasons To Purchase</h2>
  </article>
  <article class="articles_post">
    <h3>Ut sed metus</h3>
    <p>Lorem ipsum dolor sit, amet consectetur</p>
  </article>

  <article class="articles_post">
    <h3>Curabitur ac erat</h3>
    <p>Lorem ipsum dolor sit amet consectetur</p>
  </article>

  <article class="articles_post">
    <h3>Morbi dictum</h3>
    <p>Lorem ipsum dolor, sit amet consectetur</p>
  </article>
</section>
